<div class="menu-item">
  <ion-icon class="menu-item__icon" name="chatbubbles-outline"></ion-icon>
  <ion-label class="menu-item__text">Pix</ion-label>
</div>

<div class="menu-item">
  <ion-icon class="menu-item__icon" name="phone-portrait-outline"></ion-icon>
  <ion-label class="menu-item__text">Recarga de celular</ion-label>
</div>

<div class="menu-item" (click)="goToBusCardTopUp()">
  <ion-icon class="menu-item__icon" name="bus-outline"></ion-icon>
  <ion-label class="menu-item__text">Recarga transporte</ion-label>
</div>

<div class="menu-item">
  <ion-icon class="menu-item__icon" name="swap-horizontal-outline"></ion-icon>
  <ion-label class="menu-item__text">Dividir valor</ion-label>
</div>