:host {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;

  color: #c5c0b9;
}

.menu-item {
  background-color: #9544ab;
  width: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px;
  height: 100px;
  color: #fadefd;

  &__icon {
    font-size: 28px;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}