.jumbotron {
  min-width: 320px;
  max-width: 90vw;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 2px;
  min-height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    font-size: 24px;

    &--disabled {
      color: #c5c0b9;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #696969;
    padding: 32px 24px 0 24px;

    &-title {
      flex: 80%;
      padding-left: 16px;
      font-size: 14px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 0 24px;

    &-title {
      color: #696969;
    }

    &-content {
      color: #000000;
      margin-top: 8px;
      font-size: 32px;
    }
  }


  &__footer {
    background-color: #f7f7f7;
    color: #696969;
    padding: 24px;
    display: flex;
    gap: 12px;
    font-size: 14px;

    &-content {
      margin-left: 8px;
    }
  }
}