<div class="jumbotron">
  <div class="jumbotron__header">
    <ion-icon class="jumbotron__icon" name="wallet-outline"></ion-icon>
    <span class="jumbotron__header-title">Conta</span>
    <ion-icon class="jumbotron__icon jumbotron__icon--disabled" name="eye-off-outline"></ion-icon>
  </div>

  <div class="jumbotron__body">
    <p class="jumbotron__body-title">Saldo disponível</p>
    <p class="jumbotron__body-content">R$ 17.660,80</p>
  </div>

  <div class="jumbotron__footer">
    <ion-icon class="jumbotron__icon" name="cash-outline"></ion-icon>
    <p>Transferencia de R$ 5,00 feita para Ana Dias Correia</p>

  </div>
</div>